/.bundle/
/log/*.log
/pkg/
/tmp/
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
.byebug_history
.idea
test/dummy/public/uploads
.DS_Store
master.key

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
