# This is .env file for docker compose
PROJECT_NAME=<%= config[:app_name] %>
ALLOWED_HOSTS="localhost,test.panda"
CORS_ORIGINS="http://localhost:3000"


# Docker Settings
DOCKER_IMAGE=panda
COMPOSE_PROJECT_NAME=${DOCKER_IMAGE}
DOCKER_API_PORT=3000
DOCKER_DB_PORT=5432
DOCKER_PGADMIN_PORT=5050
DOCKER_REDIS_PORT=6379
DOCKER_REDISCOMMANDER_PORT=8081


# Server Settings
SERVER_NAME=localhost
SERVER_HOST=http://localhost:${DOCKER_API_PORT}/


# ENV Settings
# CURRENT_ENV=production
# CURRENT_ENV=stage
# CURRENT_ENV=development
CURRENT_ENV=<%=env%>
RAILS_ENV=<%=env%>

# Postgres
POSTGRES_HOST=${DOCKER_IMAGE}_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=<%= config[:POSTGRES_PASSWORD]%>
POSTGRES_DB=<%= config[:app_name] %>_${CURRENT_ENV}
POSTGRES_PORT=${DOCKER_DB_PORT}


# Redis
REDIS_HOST=${COMPOSE_PROJECT_NAME}_redis
REDIS_PORT=${DOCKER_REDIS_PORT}


# PGAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=config[:pg_admin_password]
